@tailwind base;
@tailwind components;
@tailwind utilities;


.bg {
    background-image: url("https: //png.pngtree.com/background/20210709/original/pngtree-shading-background-abstract-colorful-background-colorful-art-picture-image_938007.jpg");
    background-size: cover;
}

h1 {
    size: 10px;
}